{{ define "main" }}

{{ $data := index .Site.Data .Site.Language.Lang }}

<!-- Slider start -->
{{ if $data.homepage.slider.enable }}
{{ with $data.homepage.slider }}
<section id="home" class="p-0">
  <div id="main-slide" class="swiper cd-hero">
    <div class="cd-hero-slider swiper-wrapper">
      {{ range $index, $elements:= .slider_item }}
      {{ $imgPosition := .image_position | lower }}
      <div class="swiper-slide {{if eq $index 0}}first{{end}}">
        <div class="wow fadeIn">
            <div class="bg-video-wrapper">
              <div class="overlay">
              {{ if .video }}
              <video id="slider-video" autoplay loop muted playsinline>
                <source src="{{ .video | absURL }}" type="video/mp4"></source>
                Your browser does not support the video tag.
              </video>
              <img class="slider-bg-image vid-alt" src="{{ .bg_image | absURL }}" alt="slider">
              {{ else }}
                <img class="slider-bg-image no-video" src="{{ .bg_image | absURL }}" alt="slider">
              {{ end }}
              </div>
            </div>
            {{if eq $imgPosition "right"}}
              {{ with .image }}
                <div class="cd-half-width cd-img-container img-right">
                  <img src="{{ . | absURL }}" alt="">
                </div>
              {{ end }}
              <div class="{{if .image}}cd-half-width{{else}}cd-full-width{{end}}">
                <h2>{{ .title | markdownify }}</h2>
                <h3>{{ .subtitle | markdownify }}</h3>
                {{ range .buttons }}
                  <a href="{{ .link | relLangURL }}" class="btn btn-primary {{.style}} cd-btn">{{ .label }}</a>
                {{ end }}
              </div>
            
            {{else if eq $imgPosition "left"}}
              {{ with .image }}
                <div class="cd-half-width cd-img-container">
                  <img src="{{ . | absURL }}" alt="">
                </div>
              {{ end }}
              <div class="{{if .image}}cd-half-width{{else}}cd-full-width{{end}}">
                <h2>{{ .title | markdownify }}</h2>
                <h3>{{ .subtitle | markdownify }}</h3>
                {{ range .buttons }}
                  <a href="{{ .link | relLangURL }}" class="btn btn-primary {{.style}} cd-btn">{{ .label }}</a>
                {{ end }}
              </div>
            {{ else }}
              <div class="cd-full-width overlay">
                <div class="container slide-content">
                <h2>{{ .title | markdownify }}</h2>
                <h3>{{ .subtitle | markdownify }}</h3>
                {{ range .buttons }}
                  <a href="{{ .link | relLangURL }}" class="btn btn-primary {{.style}} cd-btn">{{ .label }}</a>
                {{ end }}
                </div>
              </div>
            {{ end }}
        </div>
      </div>
      {{ end }}
    </div>
    <div class="swiper-pagination"></div>
    <!--/ cd-hero-slider -->
    <!--
    <div class="cd-slider-nav">
      <nav>
        <ul>
          {{ range $index, $elements:= .slider_item }}
          <li class="{{if eq $index 0}}selected{{end}}"><a href="#0"><i class="fa {{ .navigator.icon }}"></i>
              {{ .navigator.label }}</a></li>
          {{ end }}
        </ul>
      </nav>
    </div>
    -->
  </div>
  <!--/ Main slider end -->
</section>
{{ end }}
{{ end }}
<!--/ Slider end -->

<!-- Intro boxes start -->

{{ if $data.homepage.intro.enable }}
{{ with $data.intro.introboxes }}
<section id="intro-boxes" class="intro-boxes angle">
  <div class="container">
    <!-- 
    <div class="row">
      <div class="col-md-12 heading">
        {{ with .title_icon }} <span class="title-icon float-left"><i class="fa {{ . }}"></i></span> {{ end }}
        <h2 class="title">{{ .title | markdownify }} <span class="title-desc">{{ .subtitle | markdownify }}</span></h2>
      </div>
    </div>
    -->
    <!-- Title row end -->
    <div class="row justify-content-center wow fadeInUp">
      {{ range $index,$elements:= .intro_item }}
      {{ if lt $index 3}}
      <div class="col-lg-4 col-sm-6 mb-5">
        <div class="card text-center h-100">
          <h4 class="card-title pt-3">{{ .name }}</h4>
          <a href="{{ .link }}">
          {{ if .image }}
          <div class="card-img-wrapper">
            <img class="card-img-top rounded-0" src="{{ .image }}" alt="{{.name}}">
          </div>
          {{ end }}
          </a>
          <div class="card-body p-0">
            {{with .icon}}<i class="square-icon fa translateY-33 rounded {{ . }}"></i>{{end}}
            <p class="card-text mx-2 mb-0">{{ .content | markdownify }}</p>
          </div>
          <div class="card-footer border-0 p-0">
            <a href="{{ .link }}" class="btn translateY-25">{{ i18n "read_more" }}</a>
          </div>
        </div>
      </div>
      {{ end }}
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}

<!-- Intro boxes end -->

<!-- Portfolio start -->
{{ if $data.homepage.portfolio.enable }}
{{ partial "portfolio.html" . }}
{{ end }}
<!-- Portfolio end -->

<!-- Counter Strat -->
{{ if $data.homepage.funfact.enable }}
{{ partial "funfact.html" . }}
{{ end }}
<!--/ Counter end -->

<!-- Image block start -->
{{ if $data.homepage.about.enable }}
{{ with $data.homepage.about }}
{{ $bg_image := resources.Get .bg_image }}
{{ $bg_image := $bg_image.Resize "1600x jpg" }}
<section id="image-block" class="image-block p-0">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 ts-padding"
        style="min-height:400px;background:url('{{ $bg_image.RelPermalink }}') 50% 50% / cover no-repeat;">
      </div>
      <div class="col-md-6 ts-padding img-block-right">
        <div class="img-block-head text-center">
          <h2>{{ .title | markdownify }}</h2>
          <h3>{{ .subtitle | markdownify }}</h3>
          <p>{{ .content | markdownify }}</p>
        </div>
        <div class="gap-30"></div>
        {{ range .about_item }}
        <div class="image-block-content">
          <span class="feature-icon float-left"><i class="fa {{ .icon }}"></i></span>
          <div class="feature-content">
            <h3>{{ .name | markdownify }}</h3>
            <p>{{ .content | markdownify }}</p>
          </div>
        </div>
        {{ end }}
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!--/ Image block end -->

<!-- Feature box start -->
{{ if $data.homepage.feature.enable }}
{{ with $data.homepage.feature }}
<section id="feature" class="feature">
  <div class="container">
    <div class="row">
      <div class="col-md-12 heading">
        {{ with .title_icon }} <span class="title-icon"><i class="fa {{ . }}"></i></span> {{ end }}
        <h2 class="title">{{ .title | markdownify }} <span class="title-desc">{{ .subtitle | markdownify }}</span></h2>
      </div>
    </div>
    <!-- Title row end -->
    <div class="row">
      {{ range .feature_item }}
      <div class="feature-box col-sm-4 wow fadeInDown mb-4" data-wow-delay=".5s">
        <span class="feature-icon float-left"><i class="fa {{.icon}}"></i></span>
        <div class="feature-content">
          <a href="{{ .link }}"><h3>{{ .name | markdownify }}</h3></a>
          <p>{{ .content | markdownify }}</p>
        </div>
      </div>
      {{ end }}
    </div><!-- Content row end -->
  </div>
  <!--/ Container end -->
</section>
{{ end }}
{{ end }}
<!--/ Feature box end -->

<!-- Team start -->
{{ if $data.homepage.team.enable }}
{{ partial "team.html" . }}
{{ end }}
<!--/ Team end -->


<!-- Pricing table start -->
{{ if $data.homepage.pricing.enable }}
{{ partial "pricing.html" . }}
{{ end }}
<!--/ Pricing table end -->


<!-- Testimonial start-->
{{ if $data.homepage.testimonial.enable }}
{{ partial "testimonial.html" . }}
{{ end }}
<!--/ Testimonial end-->


<!-- Clients start -->
{{ if $data.homepage.clients_logo_slider.enable }}
<section id="home_clients" class="home_clients">
  <div class="container">
    {{ with $data.homepage.clients_logo_slider }}
    <div class="row">
      <div class="col-md-12 heading">
        {{ with .title_icon }} <span class="title-icon float-left"><i class="fa {{ . }}"></i></span> {{ end }}
        <h2 class="title">{{ .title | markdownify }} <span class="title-desc">{{ .subtitle | markdownify }}</span></h2>
      </div>
    </div>
    {{ end }}
    <!-- Title row end -->
    <div class="row wow fadeInLeft">
      <div id="client-carousel" class="col-sm-12 owl-carousel owl-theme text-center client-carousel">
        {{ range (where .Site.RegularPages "Section" "clients") }}
        {{ if and (in .Params.client_type "MZMC") (in .Params.flags "Feature") }}
        {{ $image := resources.Get .Params.image }}
        {{ $image := $image.Resize "600x jpg" }}
        <figure class="m-0 item client_logo">
          <a href="{{ .Params.link | absURL }}" target="_blank">
            <img src="{{ $image.RelPermalink }}" alt="{{ .Params.title }}">
          </a>
        </figure>
        {{ end }}
        {{ end }}
      </div><!-- Owl carousel end -->
    </div><!-- Main row end -->
  </div>
  <!--/ Container end -->
</section>

{{ end }}
<!--/ Clients end -->

{{ end }}