{{ $data := index .Site.Data .Site.Language.Lang }}
{{ with $data.mzmc_clients.testimonial }}
<section class="testimonial">
  <div class="container">
    <div class="row">
      <div id="testimonial-carousel" class="owl-carousel owl-theme text-center testimonial-slide">
        {{ range .testimonial_item }}
        {{ $image := resources.Get .image }}
        {{ $image := $image.Resize "100x" }}
        <div class="item">
          <div class="testimonial-thumb">
            <img src="{{ $image.RelPermalink }}" alt="testimonial">
          </div>
          <div class="testimonial-content">
            <p class="testimonial-text">{{ .content | markdownify }}</p>
            <h3 class="name">{{ .name | markdownify }}<span>{{.designation | markdownify}}</span></h3>
          </div>
        </div>
        {{ end }}
      </div>
      <!--/ Testimonial carousel end-->
    </div>
    <!--/ Row end-->
  </div>
  <!--/  Container end-->
</section>
{{ end }}