{{ define "main" }}

{{ "<!-- service -->" | safeHTML }}
<section class="section services-list">
  <div class="container">
    {{ $headingTitle := .Params.heading_title | default .Title }}
    <div class="row">
      <div class="col-md-12 heading">
        {{ with .Params.title_icon }} <span class="title-icon float-left"><i class="fa {{ . }}"></i></span> {{ end }}
        <h2 class="title">{{ $headingTitle | markdownify }}{{ with .Params.subtitle }} <span class="title-desc">{{ . | markdownify }}</span>{{ end }}</h2>
      </div>
    </div>

    <div class="row justify-content-center wow fadeInUp">
      {{ with .Content }}
      <div class="col-lg-12">
        <div class="post-content">
          {{ . }}
        </div>
      </div>
      {{ end }}
      {{ range .Data.Pages }}
      {{ .Render "services" }}
      {{ end }}
    </div>
  </div>

<!-- SVG animation start -->
<div class="svg-animation">
  <div id="trigger1"></div>
  <img data-src="{{ .Site.BaseURL }}images/vectors/lightbulb-airplane.svg" class="inject-me">
</div>
<!--/ SVG animation end -->

</section>
{{ "<!-- /service -->" | safeHTML }}
{{ end }}
