{{ define "main" }}

<section id="main-container">
  <div class="container">
    <div class="row">
      <!-- News start -->
      <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
        <!-- News post start -->
        <div class="post-content">
          <!-- post image start -->
          <div class="post-image-wrapper">
            {{ $image := resources.Get .Params.image }}
            {{ $image := $image.Resize "800x jpg" }}
            <img src="{{ $image.RelPermalink }}" class="img-fluid" alt="{{ .Title }}" />
            <span class="blog-date">{{ .PublishDate.Format "January 2, 2006" }}</span>
          </div><!-- post image end -->
          <div class="post-header clearfix">
            <h2 class="post-title">{{ .Title }}</h2>
            <div class="post-meta">
              <!--
              <span class="post-meta-author">Posted by&nbsp;<a href="{{ `author/` | relLangURL }}{{ .Params.Author | urlize }}">{{ .Params.Author | title }}</a></span>
              -->
              <span class="post-meta-cats">Categories:&nbsp;{{ range $index, $elements:= .Params.Categories }}<a
                href="{{ `categories/` | relLangURL }}{{ . | urlize | lower }}"> {{ if ne $index 0 }}, {{ end }}
                {{ . | title }}</a> {{ end}}</span>
              <span class="post-meta-cats">Tags:&nbsp;{{ range $index, $elements:= .Params.Tags }}<a
                href="{{ `tags/` | relLangURL }}{{ . | urlize | lower }}"> {{ if ne $index 0 }}, {{ end }}
                {{ . | title }}</a> {{ end}}</span>
            </div>
          </div><!-- post heading end -->
          <div class="entry-content">{{ .Content }}</div>
          
          <div class="gap-30"></div>

          <!-- comments -->
          {{ if .Site.Config.Services.Disqus.Shortname }}
          {{ template "_internal/disqus.html" . }}
          {{ end }}
        </div><!-- News post end -->
      </div>
      
      {{ partial "news-sidebar.html" . }}
    </div>
  </div>
</section>

{{ end }}